* {
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
html,
/* body {
  height: 100%;
} */
body {
  background-color: rgb(218, 220, 213);
  position: relative;
}
/* body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  border: none;
}
body::-webkit-scrollbar-thumb {
  border: none;
  background-color: rgb(204, 204, 204);
} */
.floatRight {
  float: right;
}
.clone {
  position: relative;
}
@media only screen and (min-width: 1368px) {
  .clone {
    position: relative;
    margin: 0 120px;
    top: 20px;
  }
  .backGreenBar {
    position: absolute;
    top: -20px;
    height: 140px;
    width: 100%;
    background-color: rgb(0, 150, 136);
  }
}

/* desktop */
@media only screen and (min-width: 780px) {
  .Header,
  .NewChatHeader {
    width: 30%;
  }
  .ChatList,
  .NewChatList,
  .Profile,
  .Settings {
    width: 30%;
  }
  .ChatArea {
    width: 70%;
  }
  /* .ChatList ul li div {
    width: 85%;
  } */
  .ChatList .contactName {
    font-size: 1.3em;
  }
  .Header button {
    margin: 0.4em 0.8em;
  }
  .menu ul {
    width: 47%;
  }
  .menu ul li {
    font-size: 0.9rem;
  }
}
/* tablet */
@media only screen and (max-width: 780px) {
  .Header,
  .NewChatHeader {
    width: 40%;
  }
  .ChatArea {
    width: 60%;
  }
  .ChatList,
  .NewChatList,
  .Profile,
  .Settings {
    width: 40%;
  }
  /* .ChatList ul li div {
    width: 83%;
  } */
  .ChatList .contactName {
    font-size: 1.2em;
  }
  .Header button {
    margin: 0.4em 0.8em;
  }
  .menu ul {
    width: 55%;
  }
  .menu ul li {
    font-size: 0.9rem;
  }
}

/* mobile */
@media only screen and (max-width: 650px) {
  .Header,
  .ChatList,
  .NewChatHeader,
  .NewChatList,
  .Profile,
  .Settings,
  .LeftArea {
    width: 50%;
  }
  .ChatArea {
    width: 50%;
  }
  /* .ChatList ul li div {
    width: 80%;
  } */
  .ChatList .contactName {
    font-size: 1.2em;
  }
  .Header button {
    margin: 0.4em 0.5em;
  }
  .menu ul {
    width: 60%;
  }
  .menu ul li {
    font-size: 0.8rem;
  }
}

/* small mobile */
/* @media only screen and (max-width: 500px) {
  .Header,
  .ChatList,
  .NewChatHeader,
  .NewChatList,
  .Profile,.Settings
  .LeftArea {
    width: 200px;
  }
  .ChatArea {
    width: 200px;
  }
  .ChatList ul li div {
    width: 80%;
  }
} */
.Header,
.NewChatHeader {
  height: 100px;
  float: left;
  background-color: rgb(237, 237, 237);
  padding: 7px 0;
  position: relative;
}
.Header img,
.ChatList img {
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.Header button {
  float: right;
  color: rgb(145, 145, 145);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
}
.Header button:hover {
  background-color: rgb(207, 207, 207);
}
.searchBox {
  width: 100%;
  height: 45px;
  background-color: rgb(246, 246, 246);
  /* margin-left : -10px;
    margin-right: -10px; */
  padding: 0 10px;
}
.Header .searchBox {
  position: absolute;
  bottom: 0;
}
.NewChatList .searchBox {
  position: sticky;
  top: 0;
}
.searchBox input {
  border: none;
  border-radius: 40px;
  color: rgb(153, 153, 153);
  padding: 3px;
  padding-left: 3rem;
  margin: 0.5em auto;
  line-height: 2em;
  width: 100%;
  text-align: left;
  font-size: 0.8em;
}
.searchBox input:focus {
  outline: none;
}
.searchIcon {
  position: absolute;
  left: 20px;
  top: 11px;
  color: rgb(153, 153, 153);
}
.backIcon {
  position: absolute;
  left: 20px;
  top: 11px;
  color: rgb(11, 175, 238);
}
.menu ul {
  list-style-type: none;
  background-color: #fff;
  position: absolute;

  top: 35px;
  right: 20px;
  z-index: 1;
  -moz-box-shadow: 2px 2px 4px rgb(153, 153, 153);
  -webkit-box-shadow: 2px 2px 4px rgb(153, 153, 153);
  -o-box-shadow: 2px 2px 4px rgb(153, 153, 153);
  box-shadow: 2px 2px 4px rgb(153, 153, 153);
}
.menu ul li {
  padding: 7px 20px;
  margin: 8px 0;
  /* font-size: 0.9rem; */
}
.menu ul li:hover {
  background-color: rgb(237, 237, 237);
  cursor: pointer;
}
.ChatList,
.NewChatList {
  height: 80vh;
  position: absolute;
  left: 0;
  top: 100px;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ChatList::-webkit-scrollbar {
  width: 5px;
}
.ChatList::-webkit-scrollbar-track {
  border: none;
}
.ChatList::-webkit-scrollbar-thumb {
  border: none;
  background-color: rgb(204, 204, 204);
}
/* .NewChatList::-webkit-scrollbar {
  width: 5px;
}
.NewChatList::-webkit-scrollbar-track {
  border: none;
}
.NewChatList::-webkit-scrollbar-thumb {
  border: none;
  background-color: rgb(204, 204, 204);
} */

.ChatList ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
.ChatList ul li {
  width: 100%;
  background-color: #fff;
  list-style-type: none;
  padding: 10px 7px;
  /* padding-bottom: 66px;
  height: 3.5em; */
  /* margin-top: -1em; */
  border-bottom: 0.01em solid rgb(223, 219, 219);
  font-size: 0.85em;
  cursor: pointer;
}
.ChatList ul li:hover {
  background-color: rgb(237, 237, 237);
}
.ChatList img {
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  float: left;
  margin-right: 1.3em;
}
/* .ChatList ul li div {
  /* position: absolute;
    right: 0; */
/* float: right; */
/* width: 85%; 
} */
.ChatList .contactTime {
  /* position: absolute;
    right: 1em; */
  float: right;
}
.NewChatList .newGrpBtn {
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  float: left;
  margin-right: 1.3em;
  margin-left: 10px;
  border: none;
  background-color: rgb(0, 150, 136);
  color: white;
}
.ChatArea {
  height: calc(100px + 80vh);
  float: left;
  background-color: rgb(248, 249, 250);
  /* overflow-x: scroll; */
  position: relative;
}
/* .ChatArea::-webkit-scrollbar {
  height: 5px;
}
.ChatArea::-webkit-scrollbar-track {
  border: none;
}
.ChatArea::-webkit-scrollbar-thumb {
  border: none;
  background-color: rgb(204, 204, 204);
} */
.DM {
  height: calc(100px + 80vh);
  margin: 0;
  position: relative;
  border-left: 0.5px solid rgb(218, 215, 215);
}
.DM_header {
  width: 100%;
  background-color: rgb(237, 237, 237);
  height: 55px;
  position: sticky;
  top: 0;
  padding: 10px 0;
  border-bottom: 1px solid rgb(204, 203, 203);
}
.DM_header img {
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  float: left;
  margin: 0 0.4em;
  cursor: pointer;
}
.DM_header button {
  float: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  margin-right: 0.5rem;
}
.DM .DM_chats {
  height: calc(100px + 80vh - 55px - 10vh);
  overflow-y: scroll;
  padding: 10px;
}
.DM .DM_chats .sentMsg {
  background-color: green;
  display: block;
  padding: 7px;
  max-width: 100%;
  box-sizing: border-box;
  float: right;
  margin-bottom: 7px;
  border: 1px solid gray;
  border-radius: 10px;
}
.DM .DM_chats .receivedMsg {
  background-color: white;
  display: block;
  padding: 7px;
  max-width: 100%;
  box-sizing: border-box;
  float: left;
  margin-bottom: 7px;
  border: 1px solid gray;
  border-radius: 10px;
}
.DM_chats::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.DM_chats::-webkit-scrollbar-track {
  border: none;
}
.DM_chats::-webkit-scrollbar-thumb {
  border: none;
  background-color: rgb(204, 204, 204);
}
.DM_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(240, 240, 240);
  height: 10vh;
  display: flex;
  padding-left: 0.5rem;
  box-sizing: border-box;
}
.DM_footer textarea {
  border-radius: 25px;
  padding: 2%;
  margin: auto;
  margin-right: 0.5rem;
  height: 7vh;
  border: 1px solid green;
  outline: none;
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  width: 100%;
}
.DM_footer button {
  border: none;
  margin: auto;
  margin-right: 0.5rem;
  color: gray;
}
.DM_firstPg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}
.DM_firstPg::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.DM_firstPg::-webkit-scrollbar-track {
  border: none;
}
.DM_firstPg::-webkit-scrollbar-thumb {
  border: none;
  background-color: rgb(204, 204, 204);
}
.DM_firstPg img {
  height: 15em;
  width: 15em;
  border-radius: 50%;
  margin: 2rem auto;
  margin-bottom: 0;
}
.NewChatHeader {
  height: 100px;
  float: left;
  background-color: rgb(0, 191, 165);
  padding: 7px 10px;
  position: relative;
  color: #fff;
}
.NewChatHeader button {
  color: #fff;
  background-color: transparent;
  /* width: 2.5rem;
    height: 2.5rem; */
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
}
.NewChatHeader h4 {
  position: absolute;
  bottom: -7px;
  left: 50px;
  font-weight: 600;
}
.NewChatList .alphabet {
  color: rgb(11, 216, 206);
  font-size: 1rem;
  padding: 1rem;
  cursor: auto;
}
.NewChatList .alphabet:hover {
  background-color: #fff;
}
.Profile,
.Settings {
  height: 80vh;
  position: absolute;
  left: 0;
  top: 100px;
  background-color: #fff;
  overflow-y: scroll;
}

.Profile .imgSection img {
  height: 53%;
  width: 53%;
  border-radius: 50%;
  margin: -2.3rem auto;
  /* margin-top: -3rem; */
  display: flex;
}
.Profile .imgSection img:hover {
  opacity: 0.6;
}
.hoveredTxt {
  position: relative;
  color: #fff;
  text-align: center;
  top: -3rem;
  display: ;
  font-size: 0.7rem;
}
.hoveredTxt:hover + #pp {
  opacity: 0.6;
}
.Profile .imgSection img:hover + .hoveredTxt {
  display: block;
  color: #fff;
}
.Profile .imgSection {
  /* height: 40%; */
  position: relative;
  padding: 4rem 0;
  background-color: rgb(237, 237, 237);
}
.Profile .userName {
  padding: 1.5rem;
}
.Profile .userName textarea {
  width: 100%;
  /* margin: 1rem 0; */
  height: 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 4rem;
}
.Profile .userName input:focus {
  border-bottom: 2px solid rgb(0, 191, 165);
}
.Profile .userName textarea:focus {
  border-bottom: 2px solid rgb(0, 191, 165);
}
.Profile .userName button {
  border: none;
  cursor: pointer;
  float: right;
  background-color: transparent;
  position: relative;
  top: -2.3rem;
  margin-left: 0.5rem;
  color: rgb(145, 145, 145);
}
.Profile::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}
.Profile::-webkit-scrollbar-track {
  border: none;
}
.Profile::-webkit-scrollbar-thumb {
  border: none;
  background-color: rgb(204, 204, 204);
}
.Settings .nameDisplay {
  padding: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.Settings .nameDisplay:hover {
  background-color: rgb(237, 237, 237);
}
.Settings .nameDisplay img {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  /* display: inline-block; */
  margin-right: 5px;
}
.Settings .Setting_options {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}
.Settings .Setting_options tr {
  width: 100%;
  cursor: pointer;
}
.Settings .Setting_options tr .icon {
  padding: 5px;
  text-align: center;
  color: gray;
  font-size: 28px;
}
.Settings .Setting_options tr .option {
  padding: 20px 0px;
  position: relative;
  border-bottom: 1px solid rgb(237, 237, 237);
}
.Settings .Setting_options tr:hover {
  background-color: rgb(237, 237, 237);
}
.Settings::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}
.Settings::-webkit-scrollbar-track {
  border: none;
}
.Settings::-webkit-scrollbar-thumb {
  border: none;
  background-color: rgb(204, 204, 204);
}
.hideScroll::-webkit-scrollbar {
  display: none;
}
